<div class="accordion">
  <div id="post">
  <h1>INDEX OF ARTICLES BY CATEGORY</h1>
  <h2>DATA</h2>
  <div class ="container">
<%post.forEach(function(post, j) { %>
<%if (post.category === "data"){%>
<p class="indexItem"><a class="postLink" href="/posts/<%=post._id%>"><%= post.title %>
 <% if (post.createdAt === post.updatedAt){ %>
  <%= NEW %>
  <% } else {%>
  <%=post.updatedAt%>
  <%}%></p></a>
<% }}); %>
</div>
<h2>INFORMATION</h2>
<div class ="container">
<%post.forEach(function(post, j) { %>
<%if (post.category === "information"){%>
<p class="indexItem"><a class="postLink" href="/posts/<%=post._id%>"><%= post.title %>
 <% if (post.createdAt === post.updatedAt){ %>
  <%= NEW %>
  <% } else {%>
  <%=post.updatedAt%>
  <%}%></p></a>
<% }}); %>
</div>
<h2>FACTS</h2>
<div class ="container">
<%post.forEach(function(post, j) { %>
<%if (post.category === "facts"){%>
<p class="indexItem"><a class="postLink" href="/posts/<%=post._id%>"><%= post.title %>
 <% if (post.createdAt === post.updatedAt){ %>
  <%= NEW %>
  <% } else {%>
  <%=post.updatedAt%>
  <%}%></p></a>
<% }}); %>
</div>
<h2>KNOWLEDGE</h2>
<div class ="container">
<%post.forEach(function(post, j) { %>
<%if (post.category === "knowledge"){%>
<p class="indexItem"><a class="postLink" href="/posts/<%=post._id%>"><%= post.title %>
 <% if (post.createdAt === post.updatedAt){ %>
  <%= NEW %>
  <% } else {%>
  <%=post.updatedAt%>
  <%}%></p></a>
<% }}); %>
</div>
<h2>WISDOM</h2>
<div class ="container">
<%post.forEach(function(post, j) { %>
<%if (post.category === "wisdom"){%>
<p class="indexItem"><a class="postLink" href="/posts/<%=post._id%>"><%= post.title %>
 <% if (post.createdAt === post.updatedAt){ %>
  <%= NEW %>
  <% } else {%>
  <%=post.updatedAt%>
  <%}%></p></a>
<% }}); %>
</div>
    <a class="buttonDat" id="create" href="/posts/new">Create New Article</a>
  </div>
</div>
