<div id="article">
<h1><%= post.title %></h1>
<h2><%= post.author %></h2>
   <p><%= post.body %></p>

  <h2>Category</h2>
  <p><%= post.category %></p>
  <h3>Last Updated</h3>
  <p><%= post.updatedAt %></p>
  <h3>Created</h3>
  <p><%= post.createdAt %></p>

  <form action="/posts/<%= post._id %>?_method=DELETE" method="post">
   <input class="buttonDat" type="submit" value="Delete item">
 </form>
 <a class="buttonDat" class="button nav" href="/posts/<%= post.id %>/edit">Edit</a>
  <a class="buttonDat" class="button nav" href="/posts">BACK</a>
</div>
