<div id="article">
<h1><%= post.title %></h1>
<h2>Authored by:<%=post.author%></h2>
   <div id="postBody" class="body">
    <%- post.body %>
   </div>

  <h2>Category</h2>
  <p id="postCat"><%= post.category %></p>
  <div id="timeWrap">
  <h3>Last Updated</h3>
    <p><%= post.updatedAt %></p>
    <h3>Created</h3>
    <p><%= post.createdAt %></p>
  </div>
<nav id="foot">
<form action="/posts/<%= post._id %>?_method=DELETE" method="post">
   <input class="buttonDat" id="delete" type="submit" value="DELETE">
</form>
 <a class="buttonDat" class="button nav" href="/posts/<%= post.id %>/edit">EDIT</a>
  <a class="buttonDat" class="button nav" href="/posts">BACK</a>
  </nav>
</div>
